body {
  background-color: #faebd6;
}

header {
  background-color: #ff0000;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 24px;
  margin: 0;
}

p:first-child {
  color: #a42423;
}

p:last-child {
  color: #00008f;
}


.square {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

#square1 {
  background-color: rgba(0, 0, 0, 0.1);
}

#square2 {
  background-color: rgba(0, 0, 0, 0.3);
}

#square3 {
  background-color: rgba(0, 0, 0, 0.7);
}

#square4 {
  background-color: rgba(0, 0, 0, 0.9);
}



body {
  background-color: #f2f2f2;
}

section {
  background-color: #ffffff;
  padding: 20px;
}

h1 {
  background-color: #ffcc00;
  color: #ffffff;
  padding: 10px;
}

h2 {
  background-color: #00b3b3;
  color: #ffffff;
  padding: 10px;
}

p {
  background-color: #ff9999;
  color: #ffffff;
  padding: 10px;
}

.list-item:nth-child(1) {
  background-color: #99ccff;
  color: #000000;
}

.list-item:nth-child(2) {
  background-color: #ff99cc;
  color: #000000;
}

.list-item:nth-child(3) {
  background-color: #66cc99;
  color: #000000;
}

.list-item:nth-child(4) {
  background-color: #ff66cc;
  color: #000000;
}

.list-item:nth-child(5) {
  background-color: #ccccff;
  color: #000000;
}




p {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-bottom: 10px;
}

.highlight {
  background-color: blue;
}

.highlight-transparency {
  background-color: rgba(0, 0, 255, 0.5);
}



h1 {
  background-color: #ffcc00;
  padding: 10px;
}

h3 {
  background-color: #00b3b3;
  padding: 5px;
}

p {
  color: #800080;
}

h1 + h3 {
  color: #ff0000;
}
